* {
  border: 1px solid black;
}

.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
}

.boxone, .boxtwo, .boxthree {
  margin-bottom: 50px;
}
.boxone {
  display: grid;
  grid-template-columns: 40px 1fr;
  font-size: 1.5rem;
  align-items: center;
}